<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<tid xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" errorhandler="error" xsi:noNamespaceSchemaLocation="tipi.xsd">
<d.menubar name="menu">
	<c.menu id="activities" text="'Activiteiten'">
		<c.menuitem id="current" text="'Af te handelen'">
			<onActionPerformed>
				<instantiate force="true" id="'current'" name="'officialActivityList'" location="{component://init/main}" />
				<callService service="'activities/InitQueryPersonActivities'" />
				<setValue from="false" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/IgnorePast}" />
				<setValue from="true" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/IgnoreConcept}" />
				<setValue from="{property:/officialportal/ProcessLogin:/UserData/UserName}" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/PersonId}" />
				<callService input="{navajo:/activities/InitQueryPersonActivities}" service="'officialportal/ProcessQueryToDoList'" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem id="historical" text="'Historisch'">
			<onActionPerformed>
				<instantiate force="true" id="'current'" name="'historicalActivityList'" location="{component://init/main}" />
				<callService service="'activities/InitQueryPersonActivities'" cached="true" />
				<setValue from="false" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/IgnorePast}" />
				<setValue from="true" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/PastOnly}" />
				<setValue from="true" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/ShowPreviousSeason}" />
				<setValue from="true" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/IgnoreConcept}" />
				<setValue from="false" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/ShowOfficialOfficialOnly}" />
				<setValue from="{property:/officialportal/ProcessLogin:/UserData/UserName}" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/PersonId}" />
				<callService input="{navajo:/activities/InitQueryPersonActivities}" service="'officialportal/ProcessQueryActivities'" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem id="officialofficial" text="'Rapporteur'" enabled="true" visible="true">
			<onActionPerformed>
				<instantiate force="true" id="'current'" name="'reporterActivityList'" location="{component://init/main}" />
				<callService service="'activities/InitQueryPersonActivities'" cached="true" />
				<setValue from="false" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/IgnorePast}" />
				<setValue from="true" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/PastOnly}" />
				<setValue from="true" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/ShowPreviousSeason}" />
				<setValue from="true" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/IgnoreConcept}" />
				<setValue from="true" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/ShowOfficialOfficialOnly}" />
				<setValue from="{property:/officialportal/ProcessLogin:/UserData/UserName}" to="{propertyref:/activities/InitQueryPersonActivities:/PersonActivities/PersonId}" />
				<callService input="{navajo:/activities/InitQueryPersonActivities}" service="'officialportal/ProcessQueryOfficialOfficialActivities'" />
			</onActionPerformed>
		</c.menuitem>
	</c.menu>
	<c.menu id="data" text="'Persoonlijk'">
		<c.menuitem id="myData" text="'Mijn gegevens'">
			<onActionPerformed>
				<instantiate force="true" id="'personDetailWindow'" name="'personDetailWindow'" location="{component://init/main}" />
				<reloadNavajo service="{navajo:/officialportal/ProcessQueryMember}" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem id="mailBox" text="'Mailbox'" enabled="{system:/union} == 'KNVB'">
			<onActionPerformed>
				<instantiate force="true" id="'current'" name="'newMailList'" location="{component://init/main}" />
				<callService service="'officialportal/InitGetOfficialEmail'" />
				<set element="{propertyref:/officialportal/InitGetOfficialEmail:/Email/PersonId}" value="{property:/officialportal/InitLogin:UserData/UserName}}" />
				<callService input="{navajo:/officialportal/InitGetOfficialEmail}" service="'officialportal/ProcessGetOfficialEmailList'" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem id="subscriptions" text="'Abonnementen'" enabled="{system:/union} == 'KNVB'">
			<onActionPerformed>
				<instantiate force="true" id="'subscriptionWindow'" name="'subscriptionWindow'" location="{component://init/main}" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem text="'Opgeven verhinderingsdata'" visible="{system:/union} == 'KNHB' OR {system:/union} == 'KNKV' OR {system:/union} == 'NHV'">
			<onActionPerformed>
				<instantiate force="true" id="'boOverviewWindow'" name="'boOverviewWindow'" location="{component://init/main}" />
				<callService input="{navajo:/officialportal/ProcessLogin}" service="'official/ProcessGetOfficialIdFromPersonId'" />
				<callService input="{navajo:/official/ProcessGetOfficialIdFromPersonId}" service="'official/ProcessQueryBlackOutDays'" />
			</onActionPerformed>
		</c.menuitem>
	</c.menu>
	<c.menu id="info" text="'Informatie'">
		<c.menuitem id="addressBook" text="'Digitale contactgegevens'" visible="{system:/union} == 'KNVB'">
			<onActionPerformed>
				<instantiate force="true" id="'addressBookWindow'" name="'addressBookWindow'" location="{component://init/main}" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem id="addressBook" text="'Adresboek'" visible="{system:/union} != 'KNVB'">
			<onActionPerformed>
				<instantiate force="true" id="'addressBookWindow'" name="'addressBookWindow'" location="{component://init/main}" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem id="competitionData" text="'Competitiegegevens'">
			<onActionPerformed>
				<instantiate force="true" id="'competitionSearchWindow'" name="'competitionSearchWindow'" location="{component://init/main}" />
			</onActionPerformed>
		</c.menuitem>
	    <c.menuitem id="viewExcesses" text="'Uitspraakdocumenten'"  visible="{system:/union} == 'KNVB'">
			<onActionPerformed>
				<instantiate force="true" id="'chargeDocumentSearchWindow'" name="'chargeDocumentSearchWindow'" location="{component://init/main}" />
			</onActionPerformed>
		</c.menuitem>		
	</c.menu>
	<c.menu id="help" text="'Help'">
		<c.menuitem text="'Handleiding OP'">
			<onActionPerformed>
				<openBinary   
					binary="'http://downloadcentrum.knvb.nl/sportlink/knvb/document/knvb%20handleiding%20official%20portaal%20(op).pdf?id=35799'" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem style="'link'" text="'Instructiefilms DWF'" enabled="{system:/union} == 'KNVB'">
			<onActionPerformed>
				<openBrowser url="'resource/dwf_help_oao.html'" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem text="'Handleiding DWF'">
			<onActionPerformed>
				<openBinary binary="'http://downloadcentrum.knvb.nl/sportlink/knvb/document/handleiding_dwf.pdf?id=14209'" newWindow="true" />
			</onActionPerformed>
		</c.menuitem>
	</c.menu>
	<c.menu id="system" text="'Systeem'">
		<c.menuitem id="changePassword" text="'Wijzig wachtwoord'">
			<onActionPerformed>
				<instantiate force="true" id="'currentDetail'" name="'passwordWindow'" location="{component://init/main}" />
				<callService service="'external/subscriptions/InitUpdateMailUser'" />
				<setValue from="{property:/officialportal/ProcessLogin:/UserData/UserName}" to="{propertyref:/external/subscriptions/InitUpdateMailUser:Login/Username}" />
				<callService input="{navajo:/external/subscriptions/InitUpdateMailUser}" service="'external/subscriptions/ProcessQueryMailUser'" />
			</onActionPerformed>
		</c.menuitem>
		<c.menuitem id="logout" text="'Uitloggen'">
			<onActionPerformed>
				<exit />
			</onActionPerformed>
		</c.menuitem>
<!--
 		<c.menuitem id="flushCache" text="'Schermen herladen'">
 			<onActionPerformed>
 				<flushCache/>
 			</onActionPerformed>
 		</c.menuitem>
-->
	</c.menu>
</d.menubar>
</tid>
